<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('build/css/global.css') }}"/>
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/js/vendor.js') }}"></script>
        <script src="{{ asset('build/js/main.js') }}"></script>
    {% endblock %}
</body>
</html>
